<{if $keypath}>
<div>
<a href="index.php"><{$smarty.const._MD_VIEW_TOP}></a>
<{foreach from=$keypath item=key}>
&raquo; 
  <{if $key.keyid==$keyid}>
    <{$key.name}>
  <{else}>
    <a href="index.php?keyid=<{$key.keyid}>"><{$key.name}></a>
  <{/if}>
<{/foreach}>
</div>
<{/if}>

<{foreach from=$index item=set}>

  <{if empty($set.head.keyid) || $set.head.keyid==$keyid}>
    <h2><{$set.head.name}></h2>
  <{else}>
    <a href="index.php?keyid=<{$set.head.keyid}>"><h2><{$set.head.name}></h2></a>
  <{/if}>

  <table class="keyset" style="width: 100%; table-layout: fixed;">
  <tr valign="top"><td>
  <{foreach from=$set.childs item=child name=set}>
  <div><a href="index.php?keyid=<{$child.keyid}>"><{$child.name}><{if $child.count!==""}> (<{$child.count}>)<{/if}></a></div>
  <{if $smarty.foreach.set.last}>
    <{if $smarty.foreach.set.iteration==1}>
  </td><td></td><td>
    <{elseif $smarty.foreach.set.iteration==2}>
  </td><td>
    <{/if}>
  <{elseif ($smarty.foreach.set.iteration)%max(intval(count($set.childs)/3), 1)==0}></td><td>
  <{/if}>
  <{/foreach}>
  </td></tr>
  </table>

<{/foreach}>
<{if $media.count}>
<h2><{$keyname}></h2>
<{if $keydesc}><div class="description"><{$keydesc}></div><{/if}>
<p><b><{$smarty.const._MD_COUNT}></b> <{$media.count}> [ <a href="list.php?keyid=<{$keyid}>"><{$smarty.const._MD_VIEW_LIST}></a> ]</p>

<{if $pagenav}>
<div class="pagenav"><{$smarty.const._MD_VIEW_PAGE}> <{$pagenav}></div>
<{/if}>
<{if $media.verbose==2}>
  <{include file="db:medialinks_list_shots.html"}>
<{elseif $media.verbose==1}>
  <table border="0" cellspacing="0" class="outer">
    <tr>
      <th><{$smarty.const._MD_DATE}></th>
      <th><{$smarty.const._MD_TITLE}></th>
      <th><{$smarty.const._MD_HITS}></th>
      <th></th>
    </tr>
  <{foreach from=$media.contents item=ent}>
    <tr class="<{cycle values="even, odd"}>">
      <td><{$ent.cdate}></td>
      <td>
	<a href="detail.php?mid=<{$ent.mid}><{if $keyid}>&keyid=<{$keyid}><{/if}>" style="display:block;"><{$ent.title}></a>
      </td>
      <td align="right"><{$ent.hits}></td>
      <td><{$ent.shortdesc}></td>
    </tr>
  <{/foreach}>
  </table>
<{else}>
  <{foreach from=$media.contents item=ent}>
    <div><a href="detail.php?mid=<{$ent.mid}><{if $keyid}>&keyid=<{$keyid}><{/if}>"><{$ent.title}></a> (<{$ent.cdate}>)</div>
  <{/foreach}>
  <{/if}>
<{/if}>

<{if $pagenav}>
<div class="pagenav"><{$smarty.const._MD_VIEW_PAGE}> <{$pagenav}></div>
<{/if}>

<{include file="db:system_notification_select.html"}>
